*{margin: 0px;padding: 0px;}
.ui-loader-default{ display:none}  
.ui-mobile-viewport{ border:none;}  
.ui-page {padding: 0; margin: 0; outline: 0}  
a{
	text-decoration: none;
	color: #ffffff;
}
li{
	list-style: none;
}
html,body{
	width: 100%;
	height: 100%;
	background-color: rgb(235,236,240);
}
img{
	display: block;
}
.clear:after{
	content: '';
	clear: both;
	overflow: hidden;
	height: 0px;
	display: block;
}


.xiangqing{
	width: 10rem;
}
.gsjs{
	font-size: 0.453rem;
	background-color: #ffffff;
	height: 1.5rem;
}
.gsjs *{
	float: left;
}
.gsjs img{
	width:0.587rem;
	height: 0.587rem;
	margin: 0.5rem 0.8rem 0rem 0.227rem;
}
.gsjs span{
	padding-top:0.5rem;
}
.typicalnews{
	padding: 0.4rem 0.0rem;
	text-align: center;
	box-sizing: border-box;
	height: 1.5rem;
}
.typicalnews img{
	width: 6.813rem;
	height: 0.56rem;
	margin: 0px auto;
}
.neirong{
	background-color: #ebecf0;
	padding: 0px 0.6rem;
	padding-bottom:1.5rem;
}
.neirongtext{
	font-size: 0.28rem;
	font-family: '微软雅黑';
	color: #1c1c1c;
}
.p1,.p2{
	line-height:0.8rem;
	text-indent: 0.4rem;
}
.neirongtext h5{
	line-height: 0.867rem;
	font-weight: normal;
	font-size: 0.373rem;
}